/* base styles */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: $font-body;
	font-size: 1.1rem;
	line-height: 1.2;
}

main {
	padding: 0 5%;
	position: relative;
	height: 90vh;
}

/* typography */

body {
	font-family: $font-body;
}

p {
	margin-top: 0;
}

h1 {
	color: $color-light;
	font-family: $font-display;
	font-style: italic;
	font-size: 3rem;
	margin-bottom: .25em;
	line-height: .9;
}