/* base styles */

html {
	box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: $font-body;
	font-size: 1.1rem;
	line-height: 1.2;
}



main, header, footer {
	padding: 1em 5%;
	position: relative;
}
main {
	min-height: 80vh;
	//margin-top: 2rem;
}

footer {
	background-color: $color-highlight1;
	padding-bottom: .25em;

	h4 {
		padding: 0 2rem .5em;
		text-align: center;
		color: $color-light;
	}

	div {
		text-align: center;
	}

	div a {
		text-decoration: none;
		color: $color-bright;
		padding: .25em .5rem;
		transition: $hover-ease;

		&:hover {
			color: $color-highlight2;
		}
	}

	p {
		font-size: .75rem;
		padding-top: 2em;
		text-align: center;
	}

} //end footer

/* typography */

body {
	font-family: $font-body;
}

p {
	margin-top: 0;
}

a {
	color: $color-dark;
	text-decoration: dashed;
}

h1 {
	color: $color-light;
	font-family: $font-display;
	font-style: italic;
	font-size: 3rem;
	margin-bottom: .2em;
	line-height: .9;
}

h2 {
	color: $color-bright;
	font-family: $font-brand;
	text-transform: uppercase;
}

h3 {
	@extend h2;
}

h4 {
	@extend h1;
	font-size: 1.5rem;
	margin-bottom: 0;
	line-height: initial;
}