/* base styles */

html {
	height: 100%;
	box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: inherit;
}

body {
	min-height: 100%;
	margin-top: 2em;
	font-family: $font-body;
	font-size: 1.1rem;
	line-height: 1.2;
	display: flex;
	flex-direction: column; //flex for sticky footer
//	background: linear-gradient(
//		180deg,
//		$color-primary 75%, $color-highlight1);
}



main, header, footer {
	//padding: 0;
	position: relative;
	flex: 1;
}
main {
	min-height: 80vh;
	padding-top: 10rem;
	flex: 1; //to make main content area expand as needed for sticky footer
	//margin-top: 2rem;
}

footer {
	background-color: $color-highlight1;
	padding-top: 1.25em;
	padding-bottom: .25em;

	h4 {
		padding: 0 2rem .5em;
		text-align: center;
		color: $color-light;
	}

	div {
		text-align: center;
	}

	div a {
		text-decoration: none;
		color: $color-bright;
		padding: .25em .5rem;
		transition: $hover-ease;

		&:hover, &:focus, &:active {
			color: $color-highlight2;
		}
	}

	p {
		font-size: .75rem;
		padding-top: 2em;
		text-align: center;
	}

} //end footer

/* typography */

body {
	font-family: $font-body;
}

p {
	margin-top: 0;
}

a {
	color: $color-dark;
	text-decoration: dashed;
	cursor: pointer;
}

h1 {
	color: $color-light;
	font-family: $font-display;
	font-style: italic;
	font-size: 3rem;
	margin-bottom: .2em;
	line-height: 1;
}

h2 {
	color: $color-bright;
	font-family: $font-brand;
	font-weight: normal;
	text-transform: uppercase;

	&::selection {
		color: $color-primary;
	}
}

h3 {
	@extend h2;
}

h4 {
	@extend h1;
	font-size: 1.25rem;
	margin-bottom: 0;
	line-height: initial;
}