header {
	width: 100%;
	padding-top: 0.25rem;
}

//.logo is inline svg
.logo,
.logo-j,
.logo-q,
.logo-dot {
	transition: $hover-ease;
	position: fixed;
	z-index: 100;
}

a .logo {
	position: fixed;
	min-width: 6rem;
	max-width: 12rem;
	margin: 0;
	margin-top: 2.25rem;
	padding: 0.25rem 0.25em;
	width: 15%;
	transform: translate(20vw, 0);
	fill: $color-bright;

	&:hover path.logo-dot,
	&:focus path.logo-dot,
	&:active path.logo-dot {
		fill: $color-highlight2;
	} //hover just the dot
}

nav {
	position: fixed;
	z-index: 100;
	text-align: right;
	right: 5%;
	padding-top: 1rem;
	ul {
		list-style-type: none;
		padding: 0;
		margin-top: 1em;
	}
	li {
		padding: 0.5em 10% 1em 0;
		text-align: right;
		position: relative;
	}

	a {
		@extend h3;
		color: $color-bright;
		text-decoration: none;
		position: relative;
		transition: $hover-ease;
	}

	a:before {
		content: '';
		background: $color-bright;
		position: absolute;
		top: -0.75em;
		right: 0;
		height: 3px;
		width: 1.5rem;
		transition: $hover-ease;
	}

	li:hover,
	li:focus,
	li:active {
		a:before {
			width: 100%;
			background: $color-highlight2;
		}
	}

	.active a {
		color: $color-primary;
	}
} // end nav
