/* INDEX SPECIFIC STYLES
		using the class name on the pages body element
		changes mostly effect <main> */

/*=================================================================
				Index Page
==================================================================*/
.index {
	background-color: $color-bright;
	svg.logo {
		width: 20%;
		padding-top: 3rem;
	}

	.logo, .logo-j, .logo-q, .logo-dot {
		fill: $color-highlight1;
	}

	nav a {
		color: $color-primary;
	}

	nav a:before {
		background: $color-highlight1;
	}

	nav li:hover,
	nav li:focus {
		a:before {
			background: $color-highlight2;
		}
		a {
			opacity: 1;
			color: $color-highlight1;
		}
	}
	nav li:active {
		a:before {
			background: $color-bright;
		}
	}

	.content-top {
		@media only screen and (min-width: $breakpoint-md) {
			min-height: 200px;
		}
	}

	.home-intro {
		padding: 5% 10%;

		@media only screen and (min-width: $breakpoint-md) {
			padding: 5%;
		}
	}

	.home-intro p {
		color: $color-dark;
		max-width: 50rem;
		margin: 0 auto;
	}

	.home-intro h4 {
		color:$color-primary;
		max-width: 50rem;
		margin: 0.5em auto 0;
	}

	hr {
		border-top: 3px solid $color-highlight1;
	}

/*=================================================================
				portfolio section
==================================================================*/
	.portfolio {
		padding: 0 10%;

		@media only screen and (min-width: $breakpoint-md) {
			padding: 0 5%;
		}

		hr { 
			width: 50%;
			border-top: 3px solid rgba($color-light, 0.65);
			margin: 1rem auto 2rem; }

		.date {
			position: absolute;
			font-family: $font-display;
			font-size: 3em;
			line-height: 0.9em;
			text-align: right;
			color: $color-light;
			z-index: -1;
			opacity: 0.45;	
			top: 2.75rem;
			right: -5%;

			@media only screen and (min-width: $breakpoint-md) {
				font-size: 3.5em;
				top: 0.25rem;
				right: -2%;
			}

			@media only screen and (min-width: $breakpoint-lg) {
				right: -5%;
			}
		}

		.project-header {
			@media only screen and (min-width: $breakpoint-lg) {
				display: flex;
				justify-content: space-between;
				align-items: baseline;
			}
		}

		h3 {
			font-size: 1.75em;
			margin-bottom: 0;
		}

		a {
			margin-bottom: 0.55rem;
		}

		.category-box {
			list-style-type: none;
			padding: 0;
		}

		.category {
			font-family: $font-brand;
			font-weight: normal;
		}
	}

		 .portfolio-item {
		 	position: relative;
		 	max-width: 50rem;
			margin: 0 auto;
		}


}
