// info page styles...non-index and non-portfolio pages
// And other specific styles for non-index and non-portfolio pages
/*=================================================================
			info pages (about, 404, etc)
==================================================================*/
.info {
	main {
		background-color: $color-highlight1;
	}
	.project-intro {
		max-width: 30em;
	}
	.btn a {
		color: $color-primary;
		&:hover,
		&:focus,
		&:active {
			color: #ffffff;
		}
	}
} //  end info

.about {
	background: linear-gradient($color-primary, $color-highlight1, $color-light);
	background-attachment: top;
	background-size: 100% 38vh;
	background-repeat: no-repeat;

	@media only screen and (min-width: $breakpoint-md) {
		background-size: 100% 36vh;
	}
	@media only screen and (min-width: $breakpoint-lg) {
		background-size: 100% 32vh;
	}
	.content h4 {
		color: $color-bright;
		margin-top: -0.5em;
		font-size: 1.5em;
	}

	.topten {
		max-width: 40em;
		position: relative;
		margin: 4rem auto;
		text-align: center;
	}
	.topten:first-of-type {
		margin-top: 0;
	}
	.topten h3 {
		&:before {
			content: none;
		}
	}
	.topten .number {
		position: absolute;
		// top: -0.25em;
		font-family: $font-display;
		font-size: 5em;
		color: $color-bright;
		z-index: -1;
		opacity: 0.4;
		@media only screen and (min-width: $breakpoint-md) {
			top: -0.25em;
		}
	} // end .topten .number
	.topten.odd .number {
		left: -5%;
	} // end .topten.odd .number
	.topten.even .number {
		right: -5%;
	} // end .topten.even .number

	.topten img {
		max-width: 200px;
	}
	.topten > ul {
		margin: 0;
		padding: 0;
		text-align: center;
		list-style: none;
	}
	.topten > ul > li a {
		text-decoration: none;
	}
	.topten > ul > li {
		display: inline-block;
		padding: 0.25rem 0.75em;

		&:hover,
		&:focus,
		&:active {
			a {
				color: $color-highlight2;
			}
			> hr {
				width: 100%;
				border-top-color: $color-highlight2;
			}
		}
	}
	.topten > ul > li > hr {
		border-top-color: $color-bright;
		margin-top: 0;
		min-width: 50%;
		width: 50%;
		transition: $hover-ease;
	}
	.topten #fair-countdown {
		font-family: $font-display;
	}
} // end .about (about page styles)
