/* PAGE SPECIFIC STYLES
		using the class name on the pages body element
		changes mostly effect <main> */



/*=================================================================
				ALL Portfolio Item Pages
==================================================================*/

.portfolio-item {
	.content-top {
		background-color: $color-primary;
	}
	display: border-box;
	//.project-intro for text sections
	.project-intro {
		max-width: 50em;
		width: 80%;
		background-color: $color-light;
		margin: 5% 10%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media only screen and (min-width: $breakpoint-md) {
			margin: 5% auto;
		}
	}
	.project-intro:active >  .btn .hvr-icon-forward, .project-intro:focus >  .btn .hvr-icon-forward, .project-intro:hover >  .btn .hvr-icon-forward, {
		color: $color-highlight1;
	}

	.project-intro h2 {
		width: 100%;
		margin-bottom: .25em;
		color: $color-primary;
		position: relative;

		&:before {
			content:"";
			background: $color-bright;
			position: absolute;
			top: -.5em;
			left: 0;
			height: 3px;
			width: 1.5rem;
		}
	}

	.project-intro p {
		width: 100%;
	}

	.project-intro .btn {
		margin-bottom: 0;
	}

	.category {
		display: block;
		margin: 5% 10%;
		text-align: center;
		text-transform: lowercase;
	}

	//.project-img for sections of images
	.project-img {
		width: 100%;
		box-sizing: border-box;

		.row {
			width: 100%;
			margin: .25em auto;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			@media only screen and (min-width: $breakpoint-giant) {
				max-width: 1920px;
				margin: .5rem auto;
			}
		}
		img {
			width: 100%;
			margin: 0;
			flex-grow: 1;
		}

		img.half-width {
			//margin-bottom: .5em;
			//margin-bottom: .25em;
			//margin-top: .5em;
			@media only screen and (max-width: $breakpoint-md){
				&:first-of-type {
					margin-bottom: .25rem;
					//margin-top: .5em;
				}

			}
			@media only screen and (min-width: $breakpoint-md) {
				//width: calc(48% - .75em);
				//display: block;
				width: 49%;
				//margin: 0 .25em;
				&:first-of-type {
					margin: 0 .125em 0 0;
				}
				&:last-of-type {
					margin: 0 0 0 .125em;
				}
			}
		}

		img.no-stretch {
			width: auto;
			@media only screen and (max-width: $breakpoint-md){
				&:first-of-type {
					margin-bottom: .5em;
				}

			}
			@media only screen and (min-width: $breakpoint-md) {
				margin: 0 .25em;
			}
		}

	} //end .project-img
} //end .portfolio-item

/*=================================================================
				Emerald City
==================================================================*/
.emeraldcity {
	.content-top {
		background: url(../img/ec/ec-feature.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

/*=================================================================
				Cool Cat Crafts
==================================================================*/
.coolcatpackage {
	.content-top {
		background: url(../img/ccc-pack/ccc-package-feature-1920.jpg) no-repeat center top fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

}

.coolcatdigital {
	.content-top {
		background: url(../img/ccc-web/ccc-web-feature-1920.jpg) no-repeat 50% center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

}