/* PAGE SPECIFIC STYLES
		using the class name on the pages body element
		changes mostly effect <main> */

/*=================================================================
				ALL Portfolio Item Pages
==================================================================*/

.portfolio-item {
	display: border-box;

	hr {
		margin-top: 0;
	}

	.content {
		background: linear-gradient($color-primary, $color-highlight2, $color-light);
		background-attachment: top;
		// background-size: 100% 12%;
		background-size: 100% 38vh;
		background-repeat: no-repeat;

		@media only screen and (min-width: $breakpoint-md) {
			background-size: 100% 36vh;
			// background-size: 100% 8%;
		}
		@media only screen and (min-width: $breakpoint-lg) {
			background-size: 100% 32vh;
		}
	}
	.content-top {
		//default .content-top. for custom backgrounds, keep scrolling
	}

	// category section. now moved to top of page.
	.category-box {
		margin: 0 1rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.category {
		margin: 0;
		text-align: center;
		text-transform: lowercase;
		padding: 0.25rem 0.75em;
		font-size: 1em;
	}
	.category + hr {
		border-top-color: $color-highlight2;
	}

	//.project-intro for text sections
	.project-intro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.project-intro h2 {
		width: 100%;
		margin-bottom: 0.25em;
		position: relative;

		&:before {
			content: '';
			background: $color-bright;
			position: absolute;
			top: -0.5em;
			left: 0;
			height: 3px;
			width: 1.5rem;
		}
	}
	.project-intro p {
		width: 100%;
	}
	.project-intro .btn {
		margin-bottom: 0;
	}

	//.project-img for sections of images
	.project-img {
		width: 100%;
		box-sizing: border-box;
		.row {
			width: 100%;
			margin: 0.25rem auto;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			@media only screen and (min-width: $breakpoint-giant) {
				max-width: 1920px;
			}
		}
		img {
			margin: 0;
		}
		img.full-width {
			width: 100%;
		}
		img.half-width {
			width: 100%;
			margin-bottom: 0.25rem;
			&:last-of-type {
				margin-bottom: 0;
			}
			@media only screen and (min-width: $breakpoint-md) {
				width: 49%;
				margin: 0 0.125rem;
			}
		}
		img.no-stretch {
			max-width: 100%;
			margin-bottom: 0.25rem;
			&:last-of-type {
				margin-bottom: 0;
			}
			@media only screen and (min-width: $breakpoint-md) {
				margin: 0.125rem;
			}
		}

		.masonry {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			align-content: center;

			@media only screen and (min-width: $breakpoint-md) {
				max-height: 800px;
				align-items: flex-end;
			}
		}
	} //end .project-img
} //end .portfolio-item

/*=================================================================
				Emerald City
==================================================================*/
.emeraldcity {
	.content-top {
		//background: url(../img/ec/ec-feature.jpg) no-repeat center center fixed;
		//-webkit-background-size: cover;
		//-moz-background-size: cover;
		//-o-background-size: cover;
		//background-size: cover;
	}
}

/*=================================================================
				Cool Cat Crafts
==================================================================*/
.coolcatpackage {
	.content-top {
		//background: url(../img/ccc-pack/ccc-package-feature-1920.jpg) no-repeat center top fixed;
		//-webkit-background-size: cover;
		//-moz-background-size: cover;
		//-o-background-size: cover;
		//background-size: cover;
	}
}

.coolcatdigital {
	.content-top {
		//background: url(../img/ccc-web/ccc-web-feature-1920.jpg) no-repeat 50% center fixed;
		//-webkit-background-size: cover;
		//-moz-background-size: cover;
		//-o-background-size: cover;
		//background-size: cover;
	}
}

.coolcatid {
	.content-top {
		//background: url(../img/ccc-id/ccc-id-feature-1920.jpg) no-repeat 50% center fixed;
		//-webkit-background-size: cover;
		//-moz-background-size: cover;
		//-o-background-size: cover;
		//background-size: cover;
	}
}

/*=================================================================
			info pages (about, 404, etc)
==================================================================*/

.info {
	main {
		background-color: $color-highlight1;
	}
	.project-intro {
		text-align: center;
	}
}
