/* PAGE SPECIFIC STYLES
		using the class name on the pages body element
		changes mostly effect <main> */

/*=================================================================
				Splash Page
==================================================================*/
.splash {
	height: 100vh;
	background-color: $color-highlight1;
	// background-image:
 //    linear-gradient(
 //      to bottom right,
 //      $color-highlight1 45%,
 //      $color-highlight2 75%
 //    );

	img {
		min-width: 4rem;
		width: 10%;
		transform: translate(25%, 25vh);
	}

	.soon {
		text-align: right;
		position: absolute;
		transform: translate(0,-100%);
		right: 5%;
		top: 80vh;
		padding: 5%;
		margin-top: 5%;
	}

	h1 {
		font-size: 4rem;
		@media only screen and (min-width: $breakpoint-md) {
    	font-size: 6rem;
		}
	}	

	p { margin-right: 1rem; }
}
