/* VARIABLES */

/* colors */
$color-primary: #213368;
$color-bright: #d6df23;
$color-highlight1: #e2088b;
$color-highlight2: #00b4ac;
$color-dark: #0d1c48;
$color-light: #fff;

/* fonts */
$font-brand: 'Rockwell Std', Rockwell, Serifa, 'Serifa Std', Glypha, 'Glypha Std', Memphis, 'Memphis Std', serif;
$font-display: 'Playfair Display', $font-brand;
$font-body: 'Yantramanav', sans-serif;

/*animations*/
$hover-ease: all 1s cubic-bezier(0.21, 0.61, 0.35, 1);

$breakpoint-md: 40rem;


//'Source Sans Pro',