.footer {
  background: #0a1f25;
  .menu {
    text-align: center;
  }
  .product {
    float: right;
    text-align: right;
  }

  .company {
    float: left;
    text-align: left;
  }
  h4 {
    color: $light;
    padding-bottom: .25em;
    border-bottom: 2px dashed $yellow;
  }

  ul {
    padding: 0;
    margin-top: .25em;
    list-style-type: none;
  }
  ul a {
    color: $lightteal;
  }
  li {
    padding: .25em .25rem;
  }
  li:hover a {
    color: $light;
    -webkit-transition: color .15s linear;
    -moz-transition: color .15s linear;
    -o-transition: color .15s linear;
    transition: color .15s linear;
  }

  .social-menu li{
    clear: both;
    display: inline-block;
    padding: .25em .5rem;
  }
 p  {
   clear: both;
   color: $teal;
   font-size: .75rem;
 }
} //end .footer

//.footer a {
//
//}
//.footer a:hover {
//  color: $light !important;
//}
//.footer .footer-menu {
//
//  h2 {
//    //background: url('../img/teal-dash.png') repeat-x bottom;
//    font-size: 1.75rem;
//    color: $light;
//    padding-bottom: 20px;
//  }
//  a,
//  h2 {
//    font-weight: 400;
//  }
//  li {
//    margin-bottom: .75em;
//  }
//  a {
//    font-size: 1.25rem;
//    color: $lightteal;
//  }
//}
//.footer .social-menu {
//  .social-menu-item a {
//    color: $lightteal;
//  }
//  @media screen and (max-width: $breakpoint_md) {
//    .social-menu-item a {
//      //font-size: .6rem;
//    }
//    .social-menu-item {
//      display: inline-block;
//      margin: .5em 2%;
//    }
//  }
//}



